@font-face {
    font-family: 'SVN-Bublont';
    src: url('../fonts/SVN-Bublont.otf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Bahnschrift-Regular';
    src: url('../fonts/Bahnschrift Regular.ttf');
}
.container {
    background-image: url('../resources/Artboard.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: auto;
    padding-top: 55px;
    padding-left: 40px;
    padding-bottom: 30px;
}

.title {
    font-size: 24px;
    color: #ffffff;
    font-family: 'OpenSans-Bold';
}

.list {
    margin-top: 20px;
}

.item-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 14px;
    height: 30px;
    margin-right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'SVN-Bublont';
    font-size: 141%;
}

.content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 20px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 14px;
    height: 30px;
    font-weight: bold;
    font-family: 'Bahnschrift-Regular';
}
/*xanh la*/
.color1 {
    background-color: #12D66B;
}
/*tim*/
.color2 {
    background-color: #7C2E85;
}
/*hong*/
.color3 {
    background-color: #E553AA;
}
/*da cam*/
.color4 {
    background-color: #EDA58A;
}
/*da cam dam*/
.color5 {
    background-color: #D15A32;
}
/*xanh nhat*/
.color6 {
    background-color: #9CC14E;
}
/*vang*/
.color7 {
    background-color: #fac946;
}
.color8 {
    background-color: #03a07b;
}
.tearcher-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
    margin-top: 10px;
}
.tearcher-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.student-row{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.note-row{
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    width: 350px;
    margin-bottom: 15px;
}
.thanks-row{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    width: 660px;
    display: flex;
    justify-content: center;
}
.address-row{
    color: #ffffff;
    font-size: 11px;
    width: 680px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.phone-row{
    color: #ffffff;
    font-size: 11px;
    width: 680px;
    display: flex;
    justify-content: flex-end;
}